---
import Layout from '@/layouts/Layout.astro';

import Experience from '@/components/sections/Experience.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import Keyboard from '@/components/Keyboard.astro';
import Certificates from '@/components/sections/Certificates.astro';

---
<Layout title="Portafolio JMSG 2024">
	<main> <!-- Eliminar codigo por defecto -->
		<!-- <h1>HOLA MUNDO</h1> -->
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Certificates />
		<Skills />

	</main>
	<Keyboard/>
</Layout>

<style> /* Eliminar estilos por defecto */
	main{
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
	@media (max-width:450px){
		main{
		padding: 2rem;
	}
	}
</style>
